
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@link-color: rgb(129, 159, 216);

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#duncan-react-root {
	height: 100%;
	margin: 0;
	padding: 0;
}

.duncan-root {
	display: block;
	height: auto;
	margin: 8px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	font-family: 'Lato', sans-serif;
}

.duncan-main {
	display: grid;

	
}

.duncan-my-work-entry-url {
	color: @link-color;
	text-decoration-line: underline;
}

.duncan-my-work-entry-url:hover {
	cursor: pointer;
}